  body
  {
    color: white;
    background:lightblue;
  }
  span
  {
    font-size: 30px;
  }
  #camera , #result
  {
    border: 2px dashed white;
    width: 350px;
    height: 300px; 
  }
  .object_name
  {
    font-size: 40px;
  }
  .gesture_icon
  {
    font-size:50px;
  }
  .heading
  {
    font-size: 10px;

    letter-spacing: 10px;
  }
  label
  {
    font-size: 15px;
    color: #62b33a;
    padding: 5px;
 
    background-color: white;
  }
#a {
  letter-spacing: 15px;
}
